In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('../data/raw/train.csv')
df.head()

,id,price_rub,mark,model,generation,configuration,complectation,body_type,color,displacement,...,owners_count,condition,custom,pts,seller_type,region,city,address,options,description
0,16799418,2200000,Kia,Sportage,IV Рестайлинг,Внедорожник 5 дв.,Prestige Black Edition,пятидверный внедорожник,чёрный,2.4,...,1,среднее,растаможен,оригинал,частник,Вологодская область,Череповец,"Россия, Вологодская область,","[""airbag-curtain"",""park-assist-r"",""leather"",""b...","Автомобиль в отличном состоянии, вложений ника..."
1,14261299,300000,Ford,Maverick,III,Внедорожник 5 дв.,NaN,пятидверный внедорожник,серебристый,3.0,...,4,среднее,растаможен,дубликат,частник,Краснодарский край,Сочи,Теневой переулок,NaN,"Есть жизненные повреждения, автомобиль рабочий..."
2,10850488,2600000,Volkswagen,Caravelle,T6,Минивэн,Trendline,минивэн,чёрный,2.0,...,2,среднее,растаможен,оригинал,частник,Оренбургская область,Орск,NaN,"[""isofix"",""front-seats-heat"",""hcc"",""heated-was...","Автомобиль в отличном состоянии, все то пройде..."
3,16407528,549000,Opel,Astra,H Рестайлинг,Седан,Essentia,седан,чёрный,1.6,...,4,среднее,растаможен,дубликат,частник,Самарская область,Самара,NaN,"[""abs"",""airbag-driver"",""airbag-passenger"",""air...",Продаю личный автомобиль в хорошем состоянии. ...
4,12695854,700000,Hyundai,Santa Fe,I,Внедорожник 5 дв.,NaN,пятидверный внедорожник,красный,2.7,...,3,среднее,растаможен,оригинал,частник,Краснодарский край,Краснодар,Адлерский район,NaN,"Пороги переваренные, грм новый, масла в двигат..."

In [60]:
df['log_price'] = np.log1p(df['price_rub'])
df['bin_horse_power'] = pd.cut(df['horse_power'], bins=[0, 100, 200, 300, 400, np.inf], labels=['0-100', '100-200', '200-300', '300-400', '400+'])
df['car_age'] = 2026 - df['year']

In [11]:
df['owners_count'].value_counts()

owners_count
4    23567
3    19134
1    18299
2    17595
0     1414
Name: count, dtype: int64

In [25]:
df.loc[(df['owners_count'] == 0) & (df['seller_type'] == 'компания'), 'pts'] = 'оригинал'

In [36]:
df[df['color'].isna()==True]

,id,price_rub,mark,model,generation,configuration,complectation,body_type,color,displacement,...,condition,custom,pts,seller_type,region,city,address,options,description,log_price
11231,10762226,1850000,Hyundai,Santa Fe,II Рестайлинг,Внедорожник 5 дв.,NaN,пятидверный внедорожник,NaN,2.4,...,среднее,растаможен,дубликат,частник,Новосибирская область,Новосибирск,Новосибирская область,NaN,Авто полностью в полном порядке. По кузову в и...,14.430697
42133,10684422,1750000,Lada (ВАЗ),Vesta,I,Универсал 5 дв. SW,NaN,универсал,NaN,1.6,...,среднее,растаможен,оригинал,частник,Пермский край,Соликамск,NaN,NaN,К продаже Лада Веста СВ в отличной комплектаци...,14.375127
52190,16639311,935000,Lada (ВАЗ),Vesta,I,Седан,Luxe (2019-2021),седан,NaN,1.6,...,среднее,растаможен,оригинал,частник,Республика Дагестан,Кизилюрт,NaN,"[""esp"",""immo"",""multi-wheel"",""wheel-power"",""eng...","Продам хорошую весту,не битая НО ЕСТЬ ВЫТЯНУТЫ...",13.748303
56471,13823774,990000,Audi,A4,IV (B8),Седан,Стандарт,седан,NaN,1.8,...,среднее,растаможен,оригинал,частник,Краснодарский край,Туапсе,"Привокзальная площадь, 16","[""airbag-driver"",""airbag-side"",""abs"",""wheel-po...",Машина в хорошем состоянии реальному покупател...,13.805461
60620,10702159,4700000,Kia,Sorento,IV,Внедорожник 5 дв.,Premium (2020-2021),пятидверный внедорожник,NaN,2.5,...,среднее,растаможен,оригинал,частник,Пензенская область,Пенза,NaN,"[""19-inch-wheels"",""alloy-wheel-disks"",""panoram...",NaN,15.363073
72819,10641285,1600000,Mercedes-Benz,Citan,I (W415),Компактвэн,109 CDI,компактвэн,NaN,1.5,...,среднее,растаможен,оригинал,частник,Омская область,Омск,Центральный округ,"[""wheel-power"",""wheel-configuration1"",""third-r...",Мercedеs citan Eдинственный в Омскe) Ухoженны...,14.285515
73530,10636948,490000,Mercedes-Benz,E-Класс,"II (W210, S210)",Седан,NaN,седан,NaN,2.2,...,среднее,растаможен,оригинал,частник,Ростовская область,Донецк,NaN,NaN,"Автомобиль в достойном, ухоженном состоянии, д...",13.102163

Напишем функцию, которая будет заполнять пропуска для цвета самым "модным" цветом для этой марки + модели

In [48]:
def fill_color_by_mode(df):
    color_mode = df.groupby(['mark', 'model'])['color'].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else pd.NA)
    
    color_dict = color_mode.to_dict()
    
    def fill_color(row):
        if pd.isna(row['color']):
            return color_dict.get((row['mark'], row['model']), row['color'])
        return row['color']
    
    df['color'] = df.apply(fill_color, axis=1)
    return df

df = fill_color_by_mode(df)

Заметим, что для всех строк, где есть пропуска в признаке 'km_age' признак 'seller_type' - компания.

In [55]:
df[(df['km_age'].isna()==True) & (df['seller_type'] != 'компания')]

Empty DataFrame
Columns: [id, price_rub, mark, model, generation, configuration, complectation, body_type, color, displacement, drive_type, engine_type, horse_power, transmission, wheel, km_age, year, owners_count, condition, custom, pts, seller_type, region, city, address, options, description, log_price]
Index: []

[0 rows x 28 columns]

In [63]:
df['km_age'] = df['km_age'].fillna(df.loc[df['seller_type'] != 'компания', 'km_age'].median())

In [67]:
df.loc[(df['pts'].isna()==True) & (df['seller_type'] == 'компания')]

Empty DataFrame
Columns: [id, price_rub, mark, model, generation, configuration, complectation, body_type, color, displacement, drive_type, engine_type, horse_power, transmission, wheel, km_age, year, owners_count, condition, custom, pts, seller_type, region, city, address, options, description, log_price, bin_horse_power, car_age]
Index: []

[0 rows x 30 columns]

In [92]:
df.loc[df['pts'].isna() & (df['seller_type'] == 'частник'), 'pts'] = 'Неизвестно'

In [98]:
df.loc[df['generation'].isna(), ['mark', 'model']]

             mark         model
14         Nissan          Tino
23     Lada (ВАЗ)          2109
58         Nissan       Bassara
64     Great Wall      Wingle 7
65     Great Wall      Hover H5
...           ...           ...
80003         BAW        Ace M7
80005        Dadi       Shuttle
80006       Oting       Paladin
80007      Hudson  Deluxe Eight
80008      Arcfox       Alpha T

[7869 rows x 2 columns]

Постараемся как то умно заполнить пропуски в признаке 'generation'. Возможно, найдутся такие строки, где марка+модель дадут нам информацию о 'generation'. Если же таких нет, то поставим 'Неизвестно'.

In [120]:
def fill_generation(df):
    gen_mode = df.groupby(['mark', 'model'])['generation'].agg(
        lambda x: x.mode().iloc[0] if not x.mode().empty else pd.NA
    )
    
    gen_dict = gen_mode.to_dict()
    
    def fill_gen(row):
        if pd.isna(row['generation']):
            mode_val = gen_dict.get((row['mark'], row['model']), pd.NA)
            return mode_val if pd.notna(mode_val) else 'Неизвестно'
        return row['generation']
    
    df['generation'] = df.apply(fill_gen, axis=1)
    return df
df = fill_generation(df)

In [94]:
df.columns

Index(['id', 'price_rub', 'mark', 'model', 'generation', 'configuration',
       'complectation', 'body_type', 'color', 'displacement', 'drive_type',
       'engine_type', 'horse_power', 'transmission', 'wheel', 'km_age', 'year',
       'owners_count', 'condition', 'custom', 'pts', 'seller_type', 'region',
       'city', 'address', 'options', 'description', 'log_price',
       'bin_horse_power', 'car_age'],
      dtype='object')

In [26]:
df.loc[(df['owners_count'] == 0)]

,id,price_rub,mark,model,generation,configuration,complectation,body_type,color,displacement,...,condition,custom,pts,seller_type,region,city,address,options,description,log_price
67,16514530,550000,BMW,5 серии,IV (E39),Универсал 5 дв.,NaN,универсал,чёрный,2.5,...,среднее,растаможен,NaN,частник,Санкт-Петербург и Ленинградская область,Санкт-Петербург,территория Троицкое Поле,NaN,"Машина снята с учета, на белорусских транзитах...",13.217675
164,16590933,1148000,Lada (ВАЗ),Granta,I Рестайлинг,Лифтбек,Comfort'24,лифтбек,серебристый,1.6,...,среднее,растаможен,оригинал,компания,Алтайский край,Бийск,"Советская улица, 202","[""airbag-driver"",""isofix"",""power-child-locks-r...",Безопасность: - Подушка безопасности водителя...,13.953533
264,15022794,2449000,GAC,GS3,NaN,Внедорожник 5 дв.,GS,пятидверный внедорожник,синий,1.5,...,среднее,растаможен,оригинал,компания,Владимирская область,Владимир,"улица Куйбышева, 24М","[""18-inch-wheels"",""reduce-spare-wheel"",""led-li...",Премиум автомобиль GAC от официального дилера ...,14.711191
413,16541862,12300000,Lexus,RX,V,Внедорожник 5 дв.,Luxury,пятидверный внедорожник,чёрный,2.4,...,среднее,растаможен,оригинал,компания,Новосибирская область,Новосибирск,"Станционная улица, 101","[""airbag-curtain"",""airbag-driver"",""airbag-pass...",Комплектация «Luxury»: • Антиблокировочная сис...,16.325110
443,16349543,1443000,Lada (ВАЗ),Niva Travel,I,Внедорожник 5 дв.,Comfort'24 (2023-2024),пятидверный внедорожник,белый,1.7,...,среднее,растаможен,оригинал,компания,Республика Татарстан,Азнакаево,"улица Шайхутдинова, 12Б","[""engine-proof"",""usb"",""15-inch-wheels"",""alloy-...","Центральная акция ""Автомобили по старым ценам ...",14.182236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79920,16573772,5059000,Jaecoo,J8,NaN,Внедорожник 5 дв.,Supreme,пятидверный внедорожник,серебристый,2.0,...,среднее,растаможен,оригинал,компания,Архангельская область,Архангельск,"Московский проспект, 35","[""dha"",""hcc"",""airbag-curtain"",""remote-engine-s...",Комплектация «Supreme»: • Антиблокировочная си...,15.436680
79928,15091603,1000000,Nissan,Leaf,I (ZE0/AZE0),Хэтчбек 5 дв.,NaN,пятидверный хэтчбэк,голубой,0.0,...,среднее,растаможен,NaN,частник,Ростовская область,Донецк,"проспект Мира, 44А/3",NaN,Автомобиль доставлен в 2021 году из США в полн...,13.815512
79989,15145447,14900000,Rivian,R1S,NaN,Внедорожник 5 дв.,Launch Edition,пятидверный внедорожник,зелёный,0.0,...,среднее,растаможен,NaN,частник,Омская область,Омск,NaN,"[""driver-seat-updown"",""electro-window-front"",""...","Добрый день! Продам авто, в идеальном состоян...",16.516872
79996,15946715,3100000,Qingling,Taga H,NaN,Пикап Двойная кабина,NaN,пикап,серебристый,3.0,...,среднее,растаможен,NaN,частник,Республика Крым,Севастополь,Республика Крым,NaN,автомобиль собран в Китае на заводе Qingling. ...,14.946913
80000,16246226,4990000,Aito,M5,I,Внедорожник 5 дв.,Ultimate,пятидверный внедорожник,чёрный,1.5,...,среднее,растаможен,оригинал,компания,Красноярский край,Красноярск,"улица 9 Мая, 2Г","[""hcc"",""collision-prevention-assist"",""asr"",""ai...","☑️ Новый автомобиль, на гарантии, с НДС! Стоим...",15.422947