In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../data/raw/train.csv')
df.head()

,id,price_rub,mark,model,generation,configuration,complectation,body_type,color,displacement,...,owners_count,condition,custom,pts,seller_type,region,city,address,options,description
0,16799418,2200000,Kia,Sportage,IV Рестайлинг,Внедорожник 5 дв.,Prestige Black Edition,пятидверный внедорожник,чёрный,2.4,...,1,среднее,растаможен,оригинал,частник,Вологодская область,Череповец,"Россия, Вологодская область,","[""airbag-curtain"",""park-assist-r"",""leather"",""b...","Автомобиль в отличном состоянии, вложений ника..."
1,14261299,300000,Ford,Maverick,III,Внедорожник 5 дв.,NaN,пятидверный внедорожник,серебристый,3.0,...,4,среднее,растаможен,дубликат,частник,Краснодарский край,Сочи,Теневой переулок,NaN,"Есть жизненные повреждения, автомобиль рабочий..."
2,10850488,2600000,Volkswagen,Caravelle,T6,Минивэн,Trendline,минивэн,чёрный,2.0,...,2,среднее,растаможен,оригинал,частник,Оренбургская область,Орск,NaN,"[""isofix"",""front-seats-heat"",""hcc"",""heated-was...","Автомобиль в отличном состоянии, все то пройде..."
3,16407528,549000,Opel,Astra,H Рестайлинг,Седан,Essentia,седан,чёрный,1.6,...,4,среднее,растаможен,дубликат,частник,Самарская область,Самара,NaN,"[""abs"",""airbag-driver"",""airbag-passenger"",""air...",Продаю личный автомобиль в хорошем состоянии. ...
4,12695854,700000,Hyundai,Santa Fe,I,Внедорожник 5 дв.,NaN,пятидверный внедорожник,красный,2.7,...,3,среднее,растаможен,оригинал,частник,Краснодарский край,Краснодар,Адлерский район,NaN,"Пороги переваренные, грм новый, масла в двигат..."

In [4]:
df['log_price'] = np.log1p(df['price_rub'])
df['bin_horse_power'] = pd.cut(df['horse_power'], bins=[0, 100, 200, 300, 400, np.inf], labels=['0-100', '100-200', '200-300', '300-400', '400+'])
df['car_age'] = 2026 - df['year']

In [5]:
df['owners_count'].value_counts()

owners_count
4    23567
3    19134
1    18299
2    17595
0     1414
Name: count, dtype: int64

In [6]:
df.loc[(df['owners_count'] == 0) & (df['seller_type'] == 'компания'), 'pts'] = 'оригинал'

In [7]:
df[df['color'].isna()==True]

,id,price_rub,mark,model,generation,configuration,complectation,body_type,color,displacement,...,pts,seller_type,region,city,address,options,description,log_price,bin_horse_power,car_age
11231,10762226,1850000,Hyundai,Santa Fe,II Рестайлинг,Внедорожник 5 дв.,NaN,пятидверный внедорожник,NaN,2.4,...,дубликат,частник,Новосибирская область,Новосибирск,Новосибирская область,NaN,Авто полностью в полном порядке. По кузову в и...,14.430697,100-200,14
42133,10684422,1750000,Lada (ВАЗ),Vesta,I,Универсал 5 дв. SW,NaN,универсал,NaN,1.6,...,оригинал,частник,Пермский край,Соликамск,NaN,NaN,К продаже Лада Веста СВ в отличной комплектаци...,14.375127,100-200,5
52190,16639311,935000,Lada (ВАЗ),Vesta,I,Седан,Luxe (2019-2021),седан,NaN,1.6,...,оригинал,частник,Республика Дагестан,Кизилюрт,NaN,"[""esp"",""immo"",""multi-wheel"",""wheel-power"",""eng...","Продам хорошую весту,не битая НО ЕСТЬ ВЫТЯНУТЫ...",13.748303,100-200,6
56471,13823774,990000,Audi,A4,IV (B8),Седан,Стандарт,седан,NaN,1.8,...,оригинал,частник,Краснодарский край,Туапсе,"Привокзальная площадь, 16","[""airbag-driver"",""airbag-side"",""abs"",""wheel-po...",Машина в хорошем состоянии реальному покупател...,13.805461,100-200,18
60620,10702159,4700000,Kia,Sorento,IV,Внедорожник 5 дв.,Premium (2020-2021),пятидверный внедорожник,NaN,2.5,...,оригинал,частник,Пензенская область,Пенза,NaN,"[""19-inch-wheels"",""alloy-wheel-disks"",""panoram...",NaN,15.363073,100-200,5
72819,10641285,1600000,Mercedes-Benz,Citan,I (W415),Компактвэн,109 CDI,компактвэн,NaN,1.5,...,оригинал,частник,Омская область,Омск,Центральный округ,"[""wheel-power"",""wheel-configuration1"",""third-r...",Мercedеs citan Eдинственный в Омскe) Ухoженны...,14.285515,0-100,13
73530,10636948,490000,Mercedes-Benz,E-Класс,"II (W210, S210)",Седан,NaN,седан,NaN,2.2,...,оригинал,частник,Ростовская область,Донецк,NaN,NaN,"Автомобиль в достойном, ухоженном состоянии, д...",13.102163,0-100,30

Напишем функцию, которая будет заполнять пропуска для цвета самым "модным" цветом для этой марки + модели

In [8]:
def fill_color_by_mode(df):
    color_mode = df.groupby(['mark', 'model'])['color'].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else pd.NA)
    
    color_dict = color_mode.to_dict()
    
    def fill_color(row):
        if pd.isna(row['color']):
            return color_dict.get((row['mark'], row['model']), row['color'])
        return row['color']
    
    df['color'] = df.apply(fill_color, axis=1)
    return df

df = fill_color_by_mode(df)

Заметим, что для всех строк, где есть пропуска в признаке 'km_age' признак 'seller_type' - компания.

In [9]:
df[(df['km_age'].isna()==True) & (df['seller_type'] != 'компания')]

Empty DataFrame
Columns: [id, price_rub, mark, model, generation, configuration, complectation, body_type, color, displacement, drive_type, engine_type, horse_power, transmission, wheel, km_age, year, owners_count, condition, custom, pts, seller_type, region, city, address, options, description, log_price, bin_horse_power, car_age]
Index: []

[0 rows x 30 columns]

In [10]:
df['km_age'] = df['km_age'].fillna(df.loc[df['seller_type'] != 'компания', 'km_age'].median())

In [11]:
df.loc[(df['pts'].isna()==True) & (df['seller_type'] == 'компания')]

Empty DataFrame
Columns: [id, price_rub, mark, model, generation, configuration, complectation, body_type, color, displacement, drive_type, engine_type, horse_power, transmission, wheel, km_age, year, owners_count, condition, custom, pts, seller_type, region, city, address, options, description, log_price, bin_horse_power, car_age]
Index: []

[0 rows x 30 columns]

In [12]:
df.loc[df['pts'].isna() & (df['seller_type'] == 'частник'), 'pts'] = 'Неизвестно'

In [13]:
df.loc[df['generation'].isna(), ['mark', 'model']]

             mark         model
14         Nissan          Tino
23     Lada (ВАЗ)          2109
58         Nissan       Bassara
64     Great Wall      Wingle 7
65     Great Wall      Hover H5
...           ...           ...
80003         BAW        Ace M7
80005        Dadi       Shuttle
80006       Oting       Paladin
80007      Hudson  Deluxe Eight
80008      Arcfox       Alpha T

[7869 rows x 2 columns]

Постараемся как то умно заполнить пропуски в признаке 'generation'. Возможно, найдутся такие строки, где марка+модель дадут нам информацию о 'generation'. Если же таких нет, то поставим 'Неизвестно'.

In [14]:
def fill_generation(df):
    gen_mode = df.groupby(['mark', 'model'])['generation'].agg(
        lambda x: x.mode().iloc[0] if not x.mode().empty else pd.NA
    )
    
    gen_dict = gen_mode.to_dict()
    
    def fill_gen(row):
        if pd.isna(row['generation']):
            mode_val = gen_dict.get((row['mark'], row['model']), pd.NA)
            return mode_val if pd.notna(mode_val) else 'Неизвестно'
        return row['generation']
    
    df['generation'] = df.apply(fill_gen, axis=1)
    return df
df = fill_generation(df)

In [15]:
df['region'] = df['region'].fillna('Неизвестно')
df['address'] = df['address'].fillna('Неизвестно')

По скольку цены в городах могут различаться для одних и тех же машин, то введем индекс города

In [16]:
P_global = df['log_price'].mean()
cuty_mean = df.groupby('city')['log_price'].mean()
df['city_price_ratio'] = df['city'].map(cuty_mean) / P_global

In [17]:
df.loc[:, df.isna().any()]

,complectation,options,description
0,Prestige Black Edition,"[""airbag-curtain"",""park-assist-r"",""leather"",""b...","Автомобиль в отличном состоянии, вложений ника..."
1,NaN,NaN,"Есть жизненные повреждения, автомобиль рабочий..."
2,Trendline,"[""isofix"",""front-seats-heat"",""hcc"",""heated-was...","Автомобиль в отличном состоянии, все то пройде..."
3,Essentia,"[""abs"",""airbag-driver"",""airbag-passenger"",""air...",Продаю личный автомобиль в хорошем состоянии. ...
4,NaN,NaN,"Пороги переваренные, грм новый, масла в двигат..."
...,...,...,...
80004,NaN,NaN,Машина не битая не крашенная в идеальном состо...
80005,NaN,NaN,NaN
80006,NaN,NaN,"Продам отличный автомобиль, в эксплуатации был..."
80007,NaN,NaN,"Автомобиль в оригинальном, отличном состоянии ..."
80008,Forest PRO,"[""light-sensor"",""drive-mode-sys"",""lock"",""auto-...",Куплен в Панавто 10.09.2024. Собственник - юри...

In [18]:
df['count_options'] = df['options'].apply(lambda x: len(x.split(',')) if pd.notna(x) else 0)
df['count_options'] = df['count_options'].fillna(0)
df.drop('options', axis=1, inplace=True)
df['count_options']

0        54
1         0
2        31
3        22
4         0
         ..
80004     0
80005     0
80006     0
80007     0
80008    82
Name: count_options, Length: 80009, dtype: int64

In [19]:
df['complectation'] = df['complectation'].fillna('Неизвестно')
df['description'] = df['description'].fillna('Неизвестно')

In [20]:
categorical_cols = [
        'mark', 'model', 'generation', 'configuration', 'complectation',
        'body_type', 'color', 'drive_type', 'engine_type', 'transmission',
        'wheel', 'condition', 'custom', 'pts', 'seller_type', 'region', 'city'
    ]

for col in categorical_cols:
    df[col] = df[col].astype('category')

df.dtypes

id                     int64
price_rub              int64
mark                category
model               category
generation          category
configuration       category
complectation       category
body_type           category
color               category
displacement         float64
drive_type          category
engine_type         category
horse_power            int64
transmission        category
wheel               category
km_age               float64
year                   int64
owners_count           int64
condition           category
custom              category
pts                 category
seller_type         category
region              category
city                category
address               object
description           object
log_price            float64
bin_horse_power     category
car_age                int64
city_price_ratio     float64
count_options          int64
dtype: object

Постараемся как то превратить этот description ужас в что-то осмысленное

In [31]:
pd.set_option('display.max_colwidth', None)
df['description'].iloc[10:20]

10                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               двигатель контрактный, работает идеально, и очень тихо, масло не ест, ни грамма В максимальной комплектации: ✅климат контроль ✅подогрев и вентиляция передних и задних сидений ✅люк, панорама ✅круиз-контроль ✅атаманка у пассажира ✅бесключевой доступ старт-стоп ✅аудио система с навигацией и Bluetooth Торг у машины.
11                                                                                                                         Классика британского автопрома. Ягуар XJ x300, с двигателем 4,0 (миллионник) рядная шестёрка, (не путайте с XJ x308 с V8 на никосиловом покрытии) надёжная АКПП, я лично заменил на авто все амортизаторы, радиатор кондиционера на новый, саленблоки по ходовой, полная покраска кузова в 2022 году с разбором в профильной мастерской. Все заводские опции автомобиля работают - климат контроль, круиз контроль, магнитола (кассеты, диски, выдвигающаяся антенна), электрорегулировки, сделано ТО (масла, фильтра, колодки). В ПТС приятный бонус для налога (168 л/с). Резина лето, зимой стоит с тёплом гараже. Торга нет совсем, обмен интересен только на Mercedes Viano полный привод. Людей не подготовленных, просьба не беспокоить.
12                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             Авто в хорошем состоянии, родной пробег. Резина зимняя липучка.Двигатель коробка обслужены.
13                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            Продам отличный автомобиль, для своих лет в очень хорошем состоянии. Весь в родной краске, подготовлен для путешествий, рыбалки или охоты. Установлен спальник компании 4*4, дополнительное освещение, лицензированный фаркоп, установлена радиостанция.За машину не стыдно. Красивый номер отдам в подарок.
14    Доброго времени суток. Продам Nissan Tino 1999г.выпуска. Машина большая, вместительная. Сиденье высокие (в отличии от остальных легковых). Машина не новая, но надёжная. Двигатель и коробка работают исправно. Двигатель масло не ест от слова "совсем". Ходовая часть совсем недавно ремонтировался. В достойном состоянии!!! Кузов требует внимания. В некоторых местах была ржавчина (обработал, зашпаклевал, дунул краской чтобы остановить процесс) Оформлена на меня. Владею 1,5 года. Нет ни запретов, ни штрафов, ни ограничений. Из необходимого по вложениям: замок центральной двери, замена масла двигателя (уже куплено kixx 10w40 (либо сам чуть позже)), по кузову ( кому надо) Цену машине знаю ( на рынке нечего смотреть...) Торг в переписке не уместен. Осмотр по звонку. Обмен на меньший объём с вашей доплатой. Ключ в ключ не рассматриваю.
15                                                                                                                                                                                                                                                                                                                                    хороший надёжный семейный авто сделаю торг брал для того чтобы жена норм научилась водить.зимой влетали в сугроб была произведена замена бампера после нового года поменяли сцепление ходовка плотная все в хорошем состоянии сел поехал установлена система без ключевого доступа и кнопка старт стоп в общем отличный авто на днях сделаю полную химчистку салона  в данный момент перед чехлы кож зам черного цвета с накидками с зимы черный мех с зади просто накидки черный мех резина зима на штампах с колпаками есть фото
16                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Комплектация LE+. Автомобиль обслуживается у официального дилера. В ДТП не была. Кузов не битый. Дополнитьно установлены: защита двигателя, амортизаторы на капот. Фаркоп для прицепа съемный. Дополнитьно шумоизоляция
17                                                                                                                                                                                                                                                                                                                                                                                                                                                                             Продам живой по кузову чайник ,все что должно работать-работает  Двигатель без нареканий ,МКПП не хрустит не вылетает новое сцепление exedy Очень резвый приносит кучу эмоций Я собственник ,документы чистые переписка в любом гибдд Кому дорого проходим мимо Продается дешевле того сколько вложено в эту машину! Торг в пределах разумного Возможна продажа в автокредит! Авто в РАЙОНЕ
18                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Я  собственник, продаю отличный автомобиль в отличном состоянии! Автомобиль дилерский, не арб, не параллельный импорт. Машина полностью обслужена, оклеена в бронепленку, установлены доводчики дверей. Автомобиль не требует вложений! В мае 2025 года машина в рамках отзывной компании Тойота заменили ДВС, теперь стоит новый двигатель с пробегом 3000 км. Отличная машина за честную цену!
19                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             - Обогрев лобового стекаю - Обогрев руля - Обогрев передних и задних кресел  - 4х зонный климат контроль  - Память сидений  - Проекция на лобовом стекле - Доводчики дверей  -  Автоматическая система управления дальним светом  - Система адаптивного освещения дороги - Музыка MERIDIAN
Name: description, dtype: object

In [27]:
df['has_heating'] = df['description'].str.contains('обогрев', case=False, na=False, regex=True).astype(int)

In [32]:
import re

damage_keywords = {
    'повреждени': ['повреждение', 'повреждения', 'повреждён', 'поврежден', 'повреждена'],
    'бит': ['битый', 'битая', 'битое', 'битые', 'бит', 'бита'],
    'ремонт': ['ремонта', 'ремонту', 'ремонтный', 'ремонтные', 'ремонт'],
    'работ': ['неработает', 'не работает', 'нерабочий', 'нерабочая', 'нерабочее'],
    'завод': ['заводится', 'заведется', 'запускается', 'незаводится', 'не заводится'],
    'слом': ['сломано', 'сломан', 'сломался', 'сломалась', 'сломанный'],
    'авария': ['авария', 'аварийный', 'аварийная', 'после аварии'],
    'дтп': ['дтп', 'попадал', 'попадала', 'участие в дтп'],
    'ржавчина': ['ржавчина', 'ржавый', 'ржавая', 'ржавое', 'ржавые', 'гниль', 'гнилой', 'коррозия'],
    'внимание': ['требует внимания', 'нуждается во внимании', 'требует осмотра', 'нужен осмотр']
}

patterns = []
for word_forms in damage_keywords.values():
    patterns.extend(word_forms)

pattern = '|'.join(patterns)
df['has_damage'] = df['description'].str.contains(pattern, case=False, na=False, regex=True).astype(int)